<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="a" class="ClassA">
        <property name="name" value="aaa"/>
        <property name="classB" ref="b"/>
    </bean>
    <bean id="b" class="ClassB">
        <property name="name" value="bbbb"/>
    </bean>
</beans>