<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.sdk.core.dao.UserDAO">
    <select id="getUserIdByNum" resultType="int" parameterType="String">
      select USER_ID from user_num WHERE NUM=#{num}
    </select>
    <select id="getUserIdByName" resultType="int" parameterType="String">
      select USER_ID from user_name WHERE NAME=#{name}
    </select>

    <insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(NAME, NUM, PASSWORD, CHANNEL_ID, REGIST_DATE)
                VALUES (#{name},#{num},#{password},#{channelId},#{registDate})
    </insert>

    <insert id="addUserDynamic" parameterType="int">
        insert into user_dynamic(USER_ID) VALUES (#{userId})
    </insert>

    <insert id="addUserNum">
        INSERT INTO user_num(NUM, USER_ID) VALUES (#{num},#{userId})
    </insert>

    <insert id="addUserName">
        INSERT INTO user_name(name, USER_ID) VALUES (#{name},#{userId})
    </insert>

    <select id="getUserById" resultType="User" parameterType="int">
        select ID,PASSWORD,NAME,NUM,USER_TYPE userType
        from user
        WHERE id=#{id}
    </select>
</mapper>
    